<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sign Up </title>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<h2>Sign Up </h2>
<div class="container">
	<form action="/signUpPage" method="post">

		<label>Username:</label> <input type="text" name="username"><br>
		<br> <label>Password:</label> <input type="password"
			name="password"><br>
		<br> <label>Email:</label> <input type="email" name="email"><br>
		<br> <label>Gender:</label> <input type="radio" name="gender"
			value="male">Male <input type="radio" name="gender"
			value="female">Female <input type="radio" name="gender"
			value="other">Other <br>
		<br> <input type="Submit" value="SIGN UP">
	</form>
	</div>
</body>
</html>